[Desktop Entry]
Version=1.0
Type=Application

Name=Dust3D
Comment=A quick 3D modeling tool
Categories=Graphics;Engineering
Icon=dust3d
Exec=dust3d
Terminal=false
