name: development

on:
  push:
    branches:
      - master
      - pipeline
    tags:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  clang-format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install clang-format
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format
      - name: Run clang-format
        run: cd ${GITHUB_WORKSPACE}/ci && sh ./lint.sh && cd ${GITHUB_WORKSPACE}
      - name: Check for changes
        run: |
          if ! git diff --ignore-space-at-eol --exit-code; then
            exit 1
          fi
  linux-build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
      - name: Install Qt
        run: |
          sudo apt-get update
          sudo apt-get install -y qt5-default libqt5svg5-dev
      - name: Build application
        run: |
          cd ${GITHUB_WORKSPACE}/application
          qmake
          make -j`nproc`
  win32-msvc-build:
    runs-on: 	windows-2019
    steps:
      - uses: actions/checkout@v3
      - name: Set up Visual Studio shell
        uses: egor-tensin/vs-shell@v2
        with:
          arch: x64
      - name: Install Qt
        # Generated by https://ddalcino.github.io/aqt-list-server/
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: '==2.1.*'
          version: '5.15.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
          archives: 'qttools qtsvg qtimageformats qtbase opengl32sw'
      - name: Build application
        run: |
          cd $env:GITHUB_WORKSPACE/application
          qmake -spec win32-msvc
          nmake -f Makefile.Release
  macos-build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Qt
        run: |
          HOMEBREW_VERBOSE_USING_DOTS=1 brew reinstall --verbose qt@5
          HOMEBREW_VERBOSE_USING_DOTS=1 brew link qt@5 --force
          export PATH="/usr/local/opt/qt@5/bin:$PATH"
      - name: Build application
        run: |
          cd ${GITHUB_WORKSPACE}/application
          qmake
          alias nproc="sysctl -n hw.logicalcpu"
          make -j`nproc`